[submodule "src/cJSON"]
	path = src/cJSON
	url = https://github.com/DaveGamble/cJSON.git
	ignore = all
[submodule "src/sdaq-worker"]
	path = src/sdaq-worker
	url = https://gitlab.com/fantomsam/sdaq-worker.git
[submodule "src/open62541"]
	path = src/open62541
	url = https://github.com/open62541/open62541.git
	ignore = all
[submodule "src/noPoll"]
	path = src/noPoll
	url = https://github.com/ASPLes/nopoll.git
	ignore = all
