[submodule "src/cJSON"]
	path = src/cJSON
	url = https://github.com/Liaoliaoliaole/LOG_lib_cJson.git
[submodule "src/sdaq-worker"]
	path = src/sdaq-worker
	url = https://github.com/Liaoliaoliaole/LOG_sdaq_worker.git
[submodule "src/open62541"]
	path = src/open62541
	url = https://github.com/Liaoliaoliaole/LOG_lib_open62541.git
[submodule "src/noPoll"]
	path = src/noPoll
	url = https://github.com/Liaoliaoliaole/LOG_lib_noPoll.git
