# Ignore build-related directories
**/build/
**/build-doc/
**/work/
**/work-doc/
**/src/noPoll/
**/src/cJSON/
**/src/open62541/
**/src/sdaq-worker/

# Ignore temporary or system files
*.o
*.obj
*.exe
*.log
*.tmp
*~
*.swp
Thumbs.db
.DS_Store



